/*For mdl*/

.mdl-color--primary {
    background-color: rgb(245,229,255);
}

.done {
    text-decoration: line-through;
}

.hide {
    display: none;
}

.demo-card-square.mdl-card {
    width: 500px;
}

.demo-card-square.mdl-card__actions.mdl-card--border {
    height: auto;
}
.demo-card-square.mdl-card__title.mdl-card--expand {
    height: 100px;
    color: #e0e7ff;
}

.demo-list-control {
    width: 300px;
}

.demo-list-radio {
    display: inline;
}
